<div class="header">
  <%= link_to "Sign Out", sign_out_path if current_user %>
</div>

<div class="warning">
</div>

<h1>Links Index page</h1>

<form class="search">
  <div>
    <label for="search">Search:</label>
    <input type="text" id="search" name="link_search" />
  </div>
</form>

<form class='new-link-form' >
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="link_title" />
  </div>

  <div>
    <label for="address">Url:</label>
    <input type="text" id="address" name="address" placeholder="http://www.google.com"/>
  </div>

  <div class="button">
    <button type="button">Save link</button>
  </div>
</form>


<section class="link-list">
  <!-- <% @links.each do |link| %> -->
  <!-- 	<div><%= "#{link.title}, #{link.address}" %></div> -->
  <!-- <% end %> -->
</section>

