.container {
    padding: 20px;
}

form {
    margin: 10px;
}

.link-read {
    background-color: gray;
}

.link {
    margin-bottom: 10px;
    border: 1px solid black;
    padding: 5px;
    max-width: 50%;
}

button {
    margin: 5px 20px 0px 0px;
}